#tbdmodeInfo {
  height: 30vh;
  overflow: scroll;

  & > * {
    margin-top: 1.5rem;
  }
  #tbdModeProgress {
    display: flex;
    align-items: center;
    justify-content: center;

    .progressMeterContainer {
      flex-grow: 100;
      background-color: var(--sub-color);
    }

    .threshold {
      flex-grow: 1;
      text-align: center;
      color: var(--main-color);
    }

    .progressMeterTotal,
    .progressMeterGroup {
      width: 0;
      transition: width 1s ease-in-out;
      position: relative; // For the ::before below
    }

    .progressMeterTotal {
      background-color: var(--main-color);
      height: 1rem;
    }

    .progressMeterGroup {
      height: 0.65rem;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: var(--main-color);
        opacity: 0.75;
      }
    }
  }

  .wordsContainer {
    #tbdHelp {
      .tbdBeatenExample,
      .tbdLostExample {
        border-bottom: 1px dashed var(--main-color);
        display: inline-block;
      }

      .tbdWordContainer {
        margin-bottom: 0.2rem;
      }

      .tbdWord {
        display: inline-block;
      }

      .modeInfo {
        margin-bottom: 2rem;
        list-style-type: disc;
        li {
          margin-bottom: 0.25rem;
        }
      }

      .explainerText {
        color: var(--text-color);
        margin-bottom: 1rem;
      }

      margin-bottom: 2rem;
      h2,
      h3,
      h4 {
        color: var(--main-color);
      }
    }

    .words {
      display: flex;
      flex-wrap: wrap;
    }

    .tbdWordContainer {
      padding: 0 5px;
      position: relative;
      color: var(--text-color);

      &:hover {
        cursor: crosshair;
      }

      .tbdWord {
        transition: 1500ms ease;
        font-size: 1.5rem; // Same as test words
        color: var(--sub-color);
      }

      &[data-typed="0"] > .tbdWord {
        border-bottom: 1px dashed var(--sub-color);
      }

      &[data-beaten-at-group="1"] > .tbdWord {
        color: var(--text-color);
        font-weight: bold;
      }

      &[data-beaten-at-target="1"] > .tbdWord {
        color: var(--main-color);
        font-weight: bold;
      }

      &[data-missed-more="1"] > .tbdWord {
        border-bottom: 2px solid var(--error-color);
      }
    }
  }

  #tbdModeStats {
    display: flex;
    justify-content: space-evenly;
  }

  #tbdModeWordInfo {
    opacity: 1;
    color: var(--text-color);
    background-color: var(--bg-color);
    z-index: 1000; // 1 above the out of focus warning
    padding: 0.5rem 1rem;
    position: fixed;
    border: 1px solid var(--text-color);
    bottom: 45vh;
    right: 43vw;
    height: fit-content;
    width: fit-content;
    font-weight: normal;
    font-size: 1rem;

    .heading {
      font-size: 1.2rem;
      color: var(--main-color);
      margin-top: 0.5rem;
    }

    .label {
      color: var(--text-color);
    }

    .stat.good {
      color: var(--main-color);
    }

    .stat.bad {
      color: var(--error-color);
    }

    .helpText {
      margin-top: 0.5rem;
      font-size: 0.8rem;
    }
  }

  #tbdModeControls {
    & > * {
      display: inline-block;
    }
    .spacer {
      color: var(--caret-color);
    }
    #tbdModeSorterSelect {
      background-color: var(--bg-color);
      color: var(--main-color);
      padding: 0.2rem;
    }
  }
}

@keyframes tbdBeaten {
  50% {
    background-color: var(--main-color);
  }
}
.tbdBeaten {
  animation: tbdBeaten 1s;
}

@keyframes tbdLost {
  50% {
    background-color: var(--error-color);
    transform: translateY(13%);
  }
}
.tbdLost {
  animation: tbdLost 1s;
}
