#tbdmodeInfo {
  & > * {
    margin-top: 1.5rem;
  }
  #tbdModeProgress {
    display: flex;
    align-items: center;
    justify-content: center;

    .progressMeterContainer {
      flex-grow: 100;
      background-color: var(--sub-color);
    }

    .threshold {
      flex-grow: 1;
      text-align: center;
      color: var(--main-color);
    }

    .progressMeter {
      height: 1rem;
      width: 0;
      background-color: var(--main-color);
      transition: width 1s ease-in-out;
    }
  }

  .wordsContainer {
    .words {
      display: flex;
      flex-wrap: wrap;

      .tbdWord {
        margin: 0 8px;
        position: relative;
        transition: color 2s ease-out;

        &[data-beaten="1"] {
          color: var(--main-color);
          font-weight: bold;
        }
      }
    }
  }

  #tbdModeStats {
    display: flex;
    justify-content: space-evenly;
  }

  #tbdModeWordInfo {
    color: var(--text-color);
    background-color: var(--bg-color);
    z-index: 1;
    padding: 0.5rem 1rem;
    position: absolute;
    border: 1px solid var(--text-color);
    bottom: 2rem;
    left: -4rem;
    dl {
      width: 10.5rem;
    }
    dt {
      font-size: 1.1rem;
      font-weight: bold;
    }
    dd {
      margin-left: 1rem;
    }
  }

  #tbdModeControls {
    & > * {
      display: inline-block;
    }
    #tbdModeSorterSelect {
      background-color: var(--bg-color);
      color: var(--main-color);
      padding: 0.2rem;
    }
  }
}

@keyframes beaten {
  20% {
    background-color: var(--main-color);
    color: var(--main-color);
  }
}

.beaten {
  animation: beaten 2s;
}
